<div class="flex flex-row justify-between">
  <div class="flex items-center">
    <img src="projex_black.svg" alt="Black Logo" class="h-[4rem]" />
  </div>
  <div class="flex items-center">
    <button
      class="underline text-sm font-semibold"
      (click)="toggleSignup()"
    >
      Create an account
    </button>
  </div>
</div>
<div class="flex flex-col md:text-center items-center">
  <div class="xl:w-1/2">
    <h1 class="text-3xl font-semibold">Welcome back</h1>
    <p class="text-sm mt-2 font-medium">Enter your ProjeX account details.</p>
    <div class="mt-10">
      <button
        class="w-full bg-white hover:bg-gray-50 font-semibold py-4 rounded-lg"
        (click)="signInWithGoogle()"
      >
        <div class="flex flex-row justify-center">
          <img
            class="w-6 h-6"
            src="google.svg"
            loading="lazy"
            alt="google logo"
          />
          <span class="ml-3">Log in with Google</span>
        </div>
      </button>
      <button
        class="mt-4 w-full bg-white hover:bg-gray-50 font-semibold py-4 rounded-lg"
        (click)="signInWithGithub()"
      >
        <div class="flex flex-row justify-center">
          <img
            class="w-6 h-6"
            src="github.svg"
            loading="lazy"
            alt="github logo"
          />
          <span class="ml-3">Log in with GitHub</span>
        </div>
      </button>
      <div class="flex flex-row items-center justify-between my-8">
        <hr class="h-px bg-black w-full border-0" />
        <span class="mx-2 text-sm font-semibold">OR</span>
        <hr class="h-px bg-black w-full border-0" />
      </div>
      <div class="flex flex-col">
        <form [formGroup]="loginForm" (submit)="signIn()">
          <input
            type="text"
            formControlName="emailUsername"
            class="w-full bg-white p-4 rounded-lg placeholder:text-gray-700 border-0 mb-4"
            [ngClass]="{
              '!bg-red-100 text-red-600 placeholder:text-red-600':
                loginForm.get('emailUsername')?.invalid && triedToSubmit
            }"
            placeholder="Email or username"
            aria-label="Email or username"
          />
          <input
            type="password"
            formControlName="password"
            class="w-full bg-white p-4 rounded-lg placeholder:text-gray-700 border-0"
            [ngClass]="{
              '!bg-red-100 text-red-600 placeholder:text-red-600':
                loginForm.get('password')?.invalid && triedToSubmit
            }"
            placeholder="Password"
            aria-label="Password"
          />
          <div class="flex flex-row justify-between items-center mt-4 mb-8">
            <div class="flex items-center">
              <input
                id="rememberMe"
                type="checkbox"
                value=""
                class="w-4 h-4 text-black bg-gray-100 border-gray-300 focus:ring-0 focus:ring-offset-0 rounded mr-2"
              />
              <label for="rememberMe" class="text-sm font-medium"
                >Keep me signed in</label
              >
            </div>
            <a href="#" class="text-sm font-medium underline"
              >Forgot password</a
            >
          </div>
          <button
            type="submit"
            class="mt-4 w-full bg-black hover:bg-gray-950 text-white font-semibold py-4 rounded-lg"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <a href="#" class="underline font-medium text-sm">Trouble in signing in?</a>
</div>
