<div class="flex items-center">
  <div class="p-10 w-1/2 bg-gray-300 text-black h-screen">
    <div class="flex flex-row justify-between">
      <div class="flex items-center">
        <img src="projex_black.svg" alt="Black Logo" class="h-[4rem]">
      </div>
      <div class="flex items-center">
        <button class="underline font-semibold">Create an account</button>
      </div>
    </div>
    <div class="flex flex-col mt-12 text-center">
      <h1 class="text-3xl font-semibold">Welcome back</h1>
      <p class="text-sm mt-2 font-medium">Enter your ProjeX account details.</p>
    </div>
  </div>
</div>